<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport
    fixedTopGap="42"
    fixedBottomGap="30"
  >
    <div class="menu-centered">
      <mat-nav-list>
        <a mat-list-item routerLink="">
          <i class="material-icons">home</i>
          Início
        </a>
        <a mat-list-item routerLink="/list">
          <i class="material-icons">list</i>
          Listar
        </a>
        <a mat-list-item routerLink="/add">
          <i class="material-icons">add</i>
          Adicionar
        </a>
        <a mat-list-item routerLink="/edit">
          <i class="material-icons">edit</i>
          Editar
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
