#container {
  padding: 20px;
  margin-left: 120px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}

.movie-box {
  background-color: #304c89;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
}

.movie-box h2 {
  text-align: center;
  margin: 0px;
  font-size: 18px;
}

.movie-box span {
  margin: 0px;
  margin-top: 10px;
  font-style: italic;
  font-size: 12px;
}

.movie-box p {
  margin: 0px;
}

#icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-box button {
  background-color: #304c89;
  border: 0px;
  color: #fff;
  cursor: pointer;
  transition: 300ms;
}

#icon-box button:hover {
  opacity: 0.5;
}

#container table {
}

#container tr:nth-child(even) {
  background-color: #f2f2f2;
}

#container tr:nth-child(odd) button {
  background-color: #fff;
}

#container tr:nth-child(1) {
  background-color: #304c89;
  color: #fff;
}

td > div {
  width: 30px;
  display: flex;
}

td button {
  border: 0px;
  cursor: pointer;
  transition: 300ms;
}

td button:hover {
  opacity: 0.4;
}

td i {
  font-size: 16px;
}
