<div id="container">
  <h1>Filmes</h1>
  <table style="width: '100%'">
    <tr>
      <th>Nome</th>
      <th>Diretor</th>
      <th>Custo</th>
      <th>Avaliação</th>
      <th></th>
    </tr>
    <tr *ngFor="let movie of movieList; let index = index">
      <td>{{ movie.title }} ({{ movie.year }})</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.shootingPrice | money }}</td>
      <td>{{ movie.rating | rating }}</td>
      <td>
        <div>
          <button (click)="handleDelete(index)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
