<div id="container">
  <h1>Filmes</h1>
  <div class="movie-holder">
    <div class="movie-box" *ngFor="let movie of movies; let index = index">
      <div>
        <strong>{{ movie.title }} ({{ movie.year }})</strong>
        <p>{{ movie.director }}</p>
        <p>{{ movie.shootingPrice | money }}</p>
        <span>Gostou?</span>
        <h2>{{ movie.rating | rating }}</h2>
      </div>
      <div id="icon-box">
        <button (click)="handleEdit(movie.id)">
          <i class="material-icons">edit</i>
        </button>
        <button (click)="handleDelete(index)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
</div>
