<div id="container">
  <span>
    <i class="material-icons">theaters</i>
    <h1>Adicionar filme</h1>
  </span>
  <div id="add-box">
    <form>
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder="Ex. Ilha do Medo"
          [(ngModel)]="title"
          name="title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ano</mat-label>
        <input
          matInput
          placeholder="Ex. 2010"
          type="number"
          [(ngModel)]="year"
          name="year"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Diretor</mat-label>
        <input
          matInput
          placeholder="Ex. Martin Scorsese"
          [(ngModel)]="director"
          name="director"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Orçamento</mat-label>
        <input
          matInput
          placeholder="Ex. Martin Scorsese"
          [(ngModel)]="shootingPrice"
          name="shootingPrice"
        />
      </mat-form-field>
      <mat-form-field>
        <select matNativeControl>
          <option>Gostei</option>
          <option>Odiei</option>
          <option>Não entendi nada</option>
        </select>
      </mat-form-field>
      <button
        mat-flat-button
        color="accent"
        class="add-button"
        (click)="handleRegisterMovie()"
      >
        Adicionar
      </button>
    </form>
  </div>
</div>
