<div id="container">
  <span>
    <i class="material-icons">theaters</i>
    <h1>Adicionar filme</h1>
  </span>
  <div id="add-box">
    <form [formGroup]="movieForm" (ngSubmit)="handleRegisterMovie()">
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder="Ex. Ilha do Medo"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ano</mat-label>
        <input
          matInput
          placeholder="Ex. 2010"
          type="number"
          formControlName="year"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Diretor</mat-label>
        <input
          matInput
          placeholder="Ex. Martin Scorsese"
          formControlName="director"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Orçamento</mat-label>
        <input
          matInput
          placeholder="Ex. Martin Scorsese"
          formControlName="shootingPrice"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Sua avaliação do filme!"
          formControlName="rating"
        >
          <mat-option value="0">Gostei</mat-option>
          <mat-option value="1">Odiei</mat-option>
          <mat-option value="2">Não entendi nada</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" class="add-button" type="submit">
        Adicionar
      </button>
    </form>
  </div>
</div>
